.content-wrapper{
    max-width:800px;
    margin: 50px auto 75px;
    background-color: #ffffff;
    padding:15px;
    position: relative;
    div.h2-wrapper{
        position:absolute;
        top: -39px;
        left: 0;
        width: calc(50% - 30px);
        padding: 5px 15px;
        background-color: #ffffff;
    }
}